@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* NavLink active */
nav .active li {
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-shadow: 10cap;
    text-decoration: 1px underline white;
  }
}
